@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E76F51;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-family: monospace;
}